body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
/*#buttons {
  position: fixed;
  top: 0;
}*/
audio {
  position: fixed;
  bottom: 0;
  display: block;
  height: 150px;
  width: 100%;
  background-color: red;
  color: red;
}
select {
   background: transparent;
   width: 268px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
   align-items: center;

   }
   #artistOption, #yearOption {
      width: 240px;
      height: 34px;
      overflow: hidden;
      border: 1px solid #ccc;
      background-image: url(./images/guitar_icon.png);
      background-repeat: no-repeat;
      background-position: right;
      background-size: 32px;
      }
