body {
  /*margin: 0;
  padding: 0;*/
  font-family: sans-serif;
}

audio {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
}
select {
  background: transparent;
  width: 268px;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 34px;
  -webkit-appearance: none;
  align-items: center;
}

#artistOption, #yearOption {
  width: 240px;
  height: 34px;
  overflow: hidden;
  border: 1px solid #ccc;
  background-image: url(./images/guitar_icon.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 32px;
}
.playerContainer {
  /*position: fixed;
  bottom: 0;*/
  /*color: red;*/
}
#buttons {
  position: fixed;
  bottom: 40px;
}



.filter {

}
div.col-md-4.col-sm-6 {
}
.mainContainer {



}
select {
  margin: auto;

}
.playList {
justify-content: center;
}
.station {

}
.App {


}
.title {
  text-align: center;
}
 h3 {
   text-align: center;
 }
/*.audioElements__mainPlayer___1XqiC {
   width: 100%;
}*/
